.vscode
.DS_Store
.idea
.codegpt
.claude
.grok
ignite.db
ignite
initrd.img
vmlinuz
bin
public/node_modules
public/http/css/tailwind.css
public/tftp/pxelinux.cfg/*
public/provision/configs/cloud-init/*
public/provision/configs/kickstart/*